<div class="container">
    <p>quote sentences works!</p>

    <!-- <p*ngFor='let quote of quotesr'>The sentence:{{quote.sentence}}

<app-quote-detail [quotess]='quote'></app-quote-detail>
</p> -->
    <div class="row">

        <div class="col-md-4" *ngFor='let quote of quotesr ; let i = index'>
            <p>{{quote.sentence}}</p>
            <app-quote-detail [quotess]='quote' (isComplete)='goaldelete($event,i)'></app-quote-detail>
        </div>
        <!-- form selector -->
        <!-- testtsstststsstss -->
    </div>
</div>